body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#ArticleList {
  margin: 2em;
  padding: 4em;
  background: yellowgreen;
  color: white;
}

#ArticleList ul {
  list-style: square;
}

#ArticleEditor {
  margin: 2em;
  padding: 4em;
  background: yellowgreen;
  color: white;
}

#ArticleEditor .Chapter {
  padding: 2em;
  margin: 2em;
}

#ArticleEditor .Editor {
  padding: 2em;
}
